<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admission Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid full-width">
        {% include 'sidebar.html' %}
        <div class="content col-sm-10">
            {% include 'header.html' %}
            <div class="content-header">
                <h2>Admission Form </h2>
                <p></p>
            </div>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name:</label>
            {{ form.first_name }}
        </div>

        <div class="form-group">
            <label for="middle_name">Middle Name:</label>
            {{ form.middle_name }}
        </div>

        <div class="form-group">
            <label for="last_name">Last Name:</label>
            {{ form.last_name }}
        </div>

        <div class="form-group">
            <label for="father_name">Father's Name:</label>
            {{ form.father_name }}
        </div>

        <div class="form-group">
            <label for="mother_name">Mother's Name:</label>
            {{ form.mother_name }}
        </div>

        <div class="form-group">
            <label for="date_of_birth">Date of Birth:</label>
            {{ form.date_of_birth }}
        </div>

        <div class="form-group">
            <label for="aadhar_card">Aadhar Card:</label>
            {{ form.aadhar_card }}
        </div>

        <div class="form-group">
            <label for="photo">Photo:</label>
            {{ form.photo }}
        </div>

        <div class="form-group">
            <label for="previous_school">Previous School:</label>
            {{ form.previous_school }}
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            {{ form.address }}
        </div>

        <div class="form-group">
            <label for="caste">Caste:</label>
            {{ form.caste }}
        </div>

        <div class="form-group">
            <label for="admission_class">Admission Class:</label>
            {{ form.admission_class }}
        </div>

        <div class="form-group">
            <label for="mobile_number">Mobile Number:</label>
            {{ form.mobile_number }}
        </div>

        <div class="form-group">
            <label for="subjects">Subjects:</label>
            {{ form.subjects }}
        </div>

        <button type="submit" class="submit-button">Submit</button>
        </form>
        </div>
    </div>
</body>
</html>
