<!DOCTYPE html>
<html>
<head>
    <title>Class 7th Student List</title>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid full-width">
        {% include 'sidebar.html' %}
        <div class="col-sm-10 col-sm-offset-2">
            {% include 'header.html' %}
            <div class="content-header">
                <h1>Class 7th Students List</h1>
                <p></p>
            </div>
            <form method="get">
                {{ year_filter_form.as_p }}
                {{ class_filter_form.as_p }}
                <button type="submit">Apply Filters</button>
            </form>
    
    <table class="student_list_tab">
        <thead>
            <tr>
                <th class="photo-column">Photo</th>
                <th class="name-column">Name</th>
                <th class="father-name-column">Father's Name</th>
                <th class="mother-name-column">Mother's Name</th>
                <th class="aadhar-column">Aadhar Card</th>
                <th class="mobile-number-column">Mobile Number</th>
                <th>Details</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for student in class_7_students %}
                <tr>
                    <td>
                        {% if student.photo %}
                            <img class="student_list_photo" src="{{ student.photo.url }}" alt="{{ student.first_name }} {{ student.last_name }} Photo" width="150">
                        {% else %}
                            <p>No photo attached</p>
                        {% endif %}
                    </td>                    
                    <td class="name-column">{{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</td>
                    <td class="father-name-column">{{ student.father_name }}</td>
                    <td class="mother-name-column">{{ student.mother_name }}</td>
                    <td class="aadhar-column">{{ student.aadhar_card }}</td>
                    <td class="mobile-number-column">{{ student.mobile_number }}</td>
                    <td><a href="{% url 'student_details' student.id %}" class="details_btn"><i class="fa fa-info">&nbsp;</i>Details</a></td>
                    <td><a href="{% url 'update_student_class_7' student.id %}" class="update_btn"><i class="fa fa-edit">&nbsp;</i>Update</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</body>
</html>
<div class="pagination">
    <span class="step-links">
        {% if class_7_students.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ class_7_students.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ class_7_students.number }} of {{ class_7_students.paginator.num_pages }}.
        </span>

        {% if class_7_students.has_next %}
            <a href="?page={{ class_7_students.next_page_number }}">next</a>
            <a href="?page={{ class_7_students.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
