<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>School Management Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid full-width">
        {% include 'sidebar.html' %}
        <div class="content col-sm-10 col-sm-offset-2">
            {% include 'header.html' %}
            <div class="content-header">
                <h1>Dashboard</h1>
                <p></p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1 d-flex align-items-center">
                                <i class="fa fa-user-secret"></i>
                            </div>
                            <div class="col-sm-11">
                                <p> Total Users:  </p>
                                <h5><span id="totalUsersCount">X</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1 d-flex align-items-center">
                                <i class="fa fa-institution"></i>
                            </div>
                            <div class="col-sm-11">
                                <p>Total Students: </p>
                                <h5><span id="totalStudentsCount">X</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1 d-flex align-items-center">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-11">
                                <p>Class 6:  </p>
                                <h5><span id="class6Count">X</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1 d-flex align-items-center">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-11">
                                <p>Class 7:  </p>
                                <h5><span id="class7Count">X</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1 d-flex align-items-center">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-11">
                                <p>Class 8:  </p>
                                <h5><span id="class8Count">X</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1 d-flex align-items-center">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-11">
                                <p>Class 9:  </p>
                                <h5><span id="class9Count">X</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1 d-flex align-items-center">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-11">
                                <p>Class 10:  </p>
                                <h5><span id="class10Count">X</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1 d-flex align-items-center">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-11">
                                <p>Class 11:  </p>
                                <h5><span id="class11Count">X</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1 d-flex align-items-center">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-11">
                                <p>Class 12:  </p>
                                <h5><span id="class12Count">X</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <canvas id="classChart" width="400" height="200"></canvas>
            </div>
            <div class="col-sm-6 col-lg-4">
                <canvas id="weeklyAdmissionsChart" width="400" height="200"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    let classData; // Declare classData in a broader scope

                    // Fetch student data from your Django view or API endpoint
                    fetch('/admissions/api/students/')
                        .then(response => response.json())
                        .then(data => {
                            classData = {}; // Initialize classData
                            const backgroundColors = [
                                '#00c0ef',
                                '#00a65a',
                                '#f39c12',
                                '#dd4b39',
                                'Blue',
                                'Pink',
                                'Red'
                            ];

                            // Process the data and populate classData object
                            data.forEach(student => {
                                const className = student.current_class;
                                if (!classData[className]) {
                                    classData[className] = 1;
                                } else {
                                    classData[className]++;
                                }
                            });

                            // Create the class chart
                            const classChartCanvas = document.getElementById('classChart').getContext('2d');
                            new Chart(classChartCanvas, {
                                type: 'bar',
                                data: {
                                    labels: Object.keys(classData), // Class names
                                    datasets: [{
                                        label: 'Number of Students',
                                        data: Object.values(classData), // Number of students per class
                                        backgroundColor: backgroundColors, // Bar color
                                        borderColor: backgroundColors, // Border color
                                        borderWidth: 1,
                                    }],
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true,
                                        },
                                    },
                                },
                            });

                            // Update Class 6 count
                            const class6Data = data.filter(student => student.current_class === '6');
                            const class6CountElement = document.getElementById('class6Count');
                            const class6Count = class6Data.length;
                            class6CountElement.textContent = class6Count;

                            const class7Data = data.filter(student => student.current_class === '7');
                            const class7CountElement = document.getElementById('class7Count');
                            const class7Count = class7Data.length;
                            class7CountElement.textContent = class7Count;

                            const class8Data = data.filter(student => student.current_class === '8');
                            const class8CountElement = document.getElementById('class8Count');
                            const class8Count = class8Data.length;
                            class8CountElement.textContent = class8Count;

                            const class9Data = data.filter(student => student.current_class === '9');
                            const class9CountElement = document.getElementById('class9Count');
                            const class9Count = class9Data.length;
                            class9CountElement.textContent = class9Count;

                            const class10Data = data.filter(student => student.current_class === '10');
                            const class10CountElement = document.getElementById('class10Count');
                            const class10Count = class10Data.length;
                            class10CountElement.textContent = class10Count;

                            const class11Data = data.filter(student => student.current_class === '11');
                            const class11CountElement = document.getElementById('class11Count');
                            const class11Count = class11Data.length;
                            class11CountElement.textContent = class11Count;

                            const class12Data = data.filter(student => student.current_class === '12');
                            const class12CountElement = document.getElementById('class12Count');
                            const class12Count = class12Data.length;
                            class12CountElement.textContent = class12Count;

                            // Update total students count
                            const totalStudents = Object.values(classData).reduce((total, count) => total + count, 0);
                            const countElement = document.getElementById('totalStudentsCount');
                            let currentCount = 0;
                            const totalStudentsIncrement = Math.ceil(totalStudents / 100); // Adjust the speed of animation

                            const updateTotalStudentsCount = () => {
                                currentCount += totalStudentsIncrement;
                                if (currentCount >= totalStudents) {
                                    currentCount = totalStudents;
                                    clearInterval(totalStudentsCountInterval);
                                }
                                countElement.textContent = currentCount;
                            };

                            // Update total students count at intervals
                            const totalStudentsCountInterval = setInterval(updateTotalStudentsCount, 10);
                        })
                        .catch(error => {
                            console.error('Error fetching student data:', error);
                        });

                    // Fetch user data from the API endpoint
                    fetch('/admissions/api/user-count/') // Replace with the actual API endpoint for user count
                        .then(response => response.json())
                        .then(data => {
                            // Update the "Total Users" count
                            const totalUsersCountElement = document.getElementById('totalUsersCount');
                            const totalUsers = data.total_users; // Assuming the API response contains the user count
                            totalUsersCountElement.textContent = totalUsers;
                        })
                        .catch(error => {
                            console.error('Error fetching user count:', error);
                        });
                        fetch('/admissions/api/weekly-admissions/')  // Replace with the actual API endpoint for weekly admissions
            .then(response => response.json())
            .then(weeklyAdmissionsData => {
                // Create the weekly admissions doughnut chart
                const weeklyAdmissionsChartCanvas = document.getElementById('weeklyAdmissionsChart').getContext('2d');
                new Chart(weeklyAdmissionsChartCanvas, {
                    type: 'doughnut',
                    data: {
                        labels: Object.keys(weeklyAdmissionsData),
                        datasets: [{
                            data: Object.values(weeklyAdmissionsData),
                            backgroundColor: [
                                '#00c0ef',
                                '#00a65a',
                                '#f39c12',
                                '#dd4b39',
                                'Blue',
                                'Pink',
                                'Red'
                            ],
                            hoverBackgroundColor: [
                                '#00c0ef',
                                '#00a65a',
                                '#f39c12',
                                '#dd4b39',
                                'Blue',
                                'Pink',
                                'Red'
                            ],
                        }],
                    },
                });
            })
            .catch(error => {
                console.error('Error fetching weekly admissions data:', error);
            });
                });
            </script>
        </div>
    </div>
</body>
</html>
