<!-- admissions/templates/admissions/student_details.html -->
<!DOCTYPE html>
<a href="{% url 'dashboard' %}">Dashboard</a>
<a href="{% url 'logout' %}">Logout</a>
<html>
<head>
    <title>Student Details</title>
</head>
<body>
    <h1>Student Details</h1>
    <img src="{{ student.photo.url }}" alt="{{ student.first_name }} {{ student.last_name }} Photo" width="100">
    <p>Student's Name: {{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</p>
    <p>Father's Name: {{ student.father_name }}</p>
    <p>Mother's Name: {{ student.mother_name }}</p>
    <p>Date of Birth: {{ student.date_of_birth }}</p>
    <p>Aadhar Card: {{ student.aadhar_card }}</p>
    <p>Previous School: {{ student.previous_school }}</p>
    <p>Address: {{ student.address }}</p>
    <p>Caste: {{ student.caste }}</p>
    <p>Admission Class: {{ student.admission_class }}</p>
    <p>Admission Date: {{ student.admission_date }}</p>
    <p>Mobile Number: {{ student.mobile_number }}</p>
    <p>Subjects: {{ student.subjects }}</p>
    <!-- Add more details as needed -->
    <a href="{% url 'student_list' %}">Back to Student List</a>
</body>
</html>
