<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid full-width">
        {% include 'sidebar.html' %}
        <div class="content col-sm-10">
            {% include 'header.html' %}
            <div class="content-header">
                <h1>Student Details</h1>
                <p></p>
            </div>
    <img src="{{ student.photo.url }}" alt="{{ student.first_name }} {{ student.last_name }} Photo" width="100">
    <p>Student's Name: {{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</p>
    <p>Father's Name: {{ student.father_name }}</p>
    <p>Mother's Name: {{ student.mother_name }}</p>
    <p>Date of Birth: {{ student.date_of_birth }}</p>
    <p>Aadhar Card: {{ student.aadhar_card }}</p>
    <p>Previous School: {{ student.previous_school }}</p>
    <p>Address: {{ student.address }}</p>
    <p>Caste: {{ student.caste }}</p>
    <p>Admission Class: {{ student.admission_class }}</p>
    <p>Admission Date: {{ student.admission_date }}</p>
    <p>Mobile Number: {{ student.mobile_number }}</p>
    <p>Subjects: {{ student.subjects }}</p>
    <a href="{% url 'student_list' %}">Back to Student List</a>
</body>
</html>
