<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student Details</title>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid full-width">
        {% include 'sidebar.html' %}
        
        <div class="content col-sm-10">
            {% include 'header.html' %}
            <h1 class="student_heading update_heading">Update Student Details</h1>
    
            <!-- <form method="post" enctype="multipart/form-data" class="admission_form">
                {% csrf_token %}
                {{ form.as_p }} 
                <div class="col-sm-12 submit_admission">
                    <button type="submit" class="submit-button">Update</button>
                </div>
                <div class="clearfix"></div>
              
            </form> -->

            <form method="POST" enctype="multipart/form-data" class="admission_form">
                {% csrf_token %}
                <div class="form-group-first-name col-sm-4">
                    <label for="first_name">First Name:</label>
                    {{ form.first_name }}
                </div>

                <div class="form-group-middle-name col-sm-4">
                    <label for="middle_name">Middle Name:</label>
                    {{ form.middle_name }}
                </div>
                
                <div class="form-group-last-name col-sm-4">
                    <label for="last_name">Last Name:</label>
                    {{ form.last_name }}
                </div>
                <div class="clearfix"></div>
                <div class="form-group-father-name col-sm-4">
                    <label for="father_name">Father's Name:</label>
                    {{ form.father_name }}
                </div>
               
                <div class="form-group-mother-name col-sm-4">
                    <label for="mother_name">Mother's Name:</label>
                    {{ form.mother_name }}
                </div>

                <div class="form-group-date-of-birth col-sm-4">
                    <label for="date_of_birth">Date of Birth:</label>
                    {{ form.date_of_birth }}
                </div>
                <div class="clearfix"></div>
                
                <div class="form-group-aadhar-number col-sm-4">
                    <label for="aadhar_number">Aadhar Number:</label>
                    {{ form.aadhar_card }}
                </div>

                <div class="form-group-mobile-number col-sm-4">
                    <label for="mobile_number">Mobile Number:</label>
                    {{ form.mobile_number }}
                </div>
                
                <div class="form-group-caste col-sm-4">
                    <label for="caste">Caste:</label>
                    {{ form.caste }}
                </div>
                <div class="clearfix"></div>
                
                <div class="form-group-admission-batch col-sm-4">
                    <label for="admission_batch">Current Class:</label>
                    {{ form.current_class }}
                </div>
                
            
                <div class="form-group col-sm-4">
                    <label for="photo">Photo:</label>
                    {{ form.photo }}
                </div>

                <div class="form-group col-sm-4">
                    <label for="address">Current Address:</label>
                    {{ form.address }}
                </div>

                <div class="clearfix"></div>
                <div class="form-group col-sm-4">
                    <label for="dist">District:</label>
                    {{ form.dist }}
                </div>

                <div class="form-group col-sm-4">
                    <label for="pin_code">Pin code:</label>
                    {{ form.pin_code }}
                </div>

               
                <div class="form-group col-sm-4">
                    <label for="state">State:</label>
                    {{ form.state }}
                </div>

                
                <div class="form-group col-sm-4">
                    <label for="pass_out_year_12th">Previous School Details:</label>
                    {{ form.previous_school }}
                </div>

                <div class="form-group col-sm-4">
                    <label for="subjects">Subjects:</label>
                    {{ form.subjects }}
                </div>
                
                <div class="form-group col-sm-4">
                    <label for="email">Email:</label>
                    {{ form.email }}
                </div>

                
                <div class="form-group col-sm-4">
                    <label for="gender">Gender:</label>
                    {{ form.gender }}
                </div>

                <div class="clearfix"></div>
                <div class="col-sm-12 submit_admission">
                    <button type="submit" class="submit-button">Update</button>
                </div>

                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</body>
</html>
