<nav class="sidebar sidebar-offcanvas col-sm-2" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-category">Main</li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <span class="icon-bg"><i class="fa fa-home" aria-hidden="true"></i></span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_list' %}">
          <span class="icon-bg"><i class="fa fa-female"></i></span>
          <span class="menu-title">Student List</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="icon-bg"><i class="fa fa-users"></i></span>
          <span class="menu-title">Classes</span>
          <i class="fa fa-level-down"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'class_6' %}">Class 6</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'class_7' %}">Class 7</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'class_8' %}">Class 8</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'class_9' %}">Class 9</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'class_10' %}">Class 10</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'class_11' %}">Class 11</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'class_12' %}">Class 12</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admission_form' %}">
          <span class="icon-bg"><i class="fa fa-edit"></i></span>
          <span class="menu-title">Admission Form</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'fee_detail' %}">
          <span class="icon-bg"><i class="fa fa-money"></i></span>
          <span class="menu-title">Fee Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'students_result' %}">
          <span class="icon-bg"><i class="fa fa-certificate"></i></span>
          <span class="menu-title">Result Management</span>
        </a>
      </li>
      <li class="nav-item sidebar-user-actions">
        <div class="user-details">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <div class="d-flex align-items-center">
                <div class="sidebar-profile-img">
                  <img src="/media/photos/avtar.png" alt="image">
                </div>
                <div class="sidebar-profile-text">
                  <p class="mb-1">{{ user.username }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a href="{% url 'logout' %}?next=/students/logout/" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
            <span class="menu-title">Log Out</span></a>
        </div>
      </li>
    </ul>
  </nav>