<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Fee History</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  
  <div class="container-fluid full-width">
    {% include 'sidebar.html' %}
    
    <div class="content col-sm-10 col-sm-offset-2">
      {% include 'header.html' %}
      <div class="content-header">
				<h1>Fee History <i class="fa fa-angle-right"></i> <span class="student_name">{{ student.first_name }} {{ student.middle_name}} {{ student.last_name }}</span></h1>
				<p></p>
      </div>
      <!-- <h2>Fee History {{ student.first_name }} {{ student.middle_name}} {{ student.last_name }}</h2> -->
      <div id="feeHistoryContainer">  </div>
      
      </div>
      <div class="pagination">
        <span class="step-links">
          {% if fee_history.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ fee_history.previous_page_number }}">previous</a>
          {% endif %}
          
          <span class="current-page">
            Page {{ fee_history.number }} of {{ fee_history.paginator.num_pages }}.
          </span>
          
          {% if fee_history.has_next %}
            <a href="?page={{ fee_history.next_page_number }}">next</a>
            <a href="?page={{ fee_history.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
</div>
<script>
  $(document).ready(function () {
      // Initialize an empty fee history data structure
      var feeHistoryData = [];

      // Loop through the fee_history data to organize it by class
      {% for fee in fee_history %}
          var feeEntry = {
              payment_date: "{{ fee.payment_date }}",
              class: "{{ fee.current_class }}",
              registration_fee: "{{ fee.registration_fee }}",
              tuition_fee: "{{ fee.tuition_fee }}",
              exam_fee: "{{ fee.exam_fee }}",
              miscellaneous_fee: "{{ fee.miscellaneous_fee }}",
              late_fee: "{{ fee.late_fee }}",
              discount_fee: "{{ fee.discount_fee }}",
              total_class_fee: "{{ fee.total_class_fee }}",
              total_paid_amount: "{{ fee.total_paid_amount }}",
              remaining_amount: "{{ fee.remaining_amount }}"
          };
          feeHistoryData.push(feeEntry);
      {% endfor %}

      // Sort the fee history data by class
      feeHistoryData.sort((a, b) => a.class - b.class);

      // Create tables for each class
      var currentClass = null;
      var currentTable = null;
      var feeHistoryContainer = $("#feeHistoryContainer");
      console.log(feeHistoryData)
      feeHistoryData.forEach(function (feeEntry) {
          if (feeEntry.current_class !== currentClass) {
              // Start a new table for a new class
              currentTable = $("<table class='student_list_tab' border='1'></table>");
              currentTable.append("<thead><tr><th>Payment Date</th><th>Registration Fee</th><th>Tuition Fee</th><th>Exam Fee</th><th>Miscellaneous Fee</th><th>Late Fee</th><th>Discount Fee</th><th>Total Paid Amount</th></tr></thead>");
              currentTable.append("<tbody>");
              feeHistoryContainer.append("<h4 class='class'>Class " + feeEntry.class + "</h4>");
              feeHistoryContainer.append(currentTable);
              currentSemester = feeEntry.semester;
          }

          // Add a row for each fee entry within the class
          currentTable.find("tbody").append("<tr><td>" + feeEntry.payment_date + "</td><td>" + feeEntry.registration_fee + "</td><td>" + feeEntry.tuition_fee + "</td><td>" + feeEntry.exam_fee + "</td><td>" + feeEntry.miscellaneous_fee + "</td><td>" + feeEntry.late_fee + "</td><td>" + feeEntry.discount_fee + "</td><td>" + feeEntry.total_paid_amount + "</td><td><button class='send-message-button details_btn' data-semester='" + feeEntry.semester + "' data-amount='" + feeEntry.remaining_amount + "</tr>");
      });
  });
</script>

</body>
</html>
